* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Epilogue;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}
body {
  height: 100vh;
  background-color: #29293e;
}

.main-section {
  height: 100vh;
}
.container {
  margin: auto 10%;
}
h5 {
  text-transform: uppercase;
  color: #ef6d58;
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 16px;
  line-height: 32px;
}

/*! Nav css */

header {
  height: 5rem;
  color: white;
}

nav {
  justify-content: space-between;
  align-items: center;
  height: 5rem;

  .logo {
    font-weight: 700;
    font-size: 24px;
  }

  .nav-menu {
    justify-content: space-between;
    gap: 5rem;
    align-items: center;
    text-transform: capitalize;
    width: 631px;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    li {
      list-style: none;
    }
  }

  button {
    background-color: transparent;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 12px;
    height: 40px;
    line-height: 100%;
    border: 1px solid white;
    color: white;
    outline: none;
    width: 138px;
    border-radius: 6px;
  }
}
/* hero section */
.hero {
  grid-template-columns: repeat(2, 1fr);
  margin-top: 4rem;
  gap: 4rem;
  img {
    width: 570px;
    height: 560px;
  }

  h5 {
    color: #ef6d58;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 32px;
  }
  h1 {
    max-width: 523px;
    position: relative;
    margin-top: 2rem;
    font-weight: 700;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: -2px;
    color: white;
    .star {
      img {
        position: absolute;
        z-index: -1;
        top: -12%;
        left: 52%;
        height: 148px;
        width: 148px;
      }
    }
  }

  .hero-text {
    max-width: 470px;
    margin-top: 1rem;
    color: #ffffffa3;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
  }

  .user-logo {
    margin: 3.6rem 0;
    align-items: start;
    img {
      width: 48px;
      height: 48px;
    }
    pre {
      /* padding-left: 1px; */
      color: #ffffffa3;
      /* line-break:strict; */
    }
  }
}

.btn {
  margin: 2rem 0;
  gap: 3rem;
  .contact {
    text-transform: capitalize;

    background-color: transparent;
    border: 0;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
  }
  .work {
    text-transform: uppercase;
    background-color: #ef6d58;
    color: white;
    height: 48px;
    width: 154px;
    font-weight: 900;
    line-height: 100%;
    border-radius: 6px;
  }
}

.about-section {
  background-color: #fdf0e9;
  /* height: 100%; */
  padding-bottom: 4rem;
  .image-section {
    padding: 1.9rem 0 2rem;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #f3d1bf;
  }
  .about-content {
    grid-template-columns: 1fr 1fr;
    margin: auto 15%;
    .about-image {
      margin: 5rem 0;

      img {
        height: 456px;
        width: 436px;
      }
    }
  }
}
.about-text {
  margin: 8rem 0;
  h5 {
    text-transform: uppercase;
    color: #ef6d58;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 32px;
  }
  h2 {
    color: #391400;
    font-weight: 800;
    font-size: 52px;
    line-height: 60px;
    letter-spacing: -1px;
    padding-bottom: 1rem;
  }
  span {
    color: #391400;
    font-size: 19px;
    line-height: 30px;
    font-weight: 400;
    /* padding-bottom: 2rem; */
  }
  p {
    color: #391400a3;
    font-weight: 400;
    font-size: 14px;
    max-width: 23rem;
    line-height: 32px;
  }
  button {
    background-color: white;
    color: #391400;
    height: 48px;
    width: 138px;
    border: 0;
    font-weight: 900;
    border-radius: 6px;
    font-size: 14px;
    margin-top: 2rem;
  }
}
.about-info {
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 80rem;
  margin: 0 14%;
  div {
    padding: 2rem 2rem;
    border: 1px solid #f3d1bf;
    h3 {
      font-weight: 800;
      font-size: 40px;
      line-height: 48px;
      color: #391400;
    }
    p {
      /* text-align: center/; */
      font-size: 16px;
      font-weight: 300;
      line-height: 32px;
    }
  }
}

.work-section {
  /* width: 100%; */
  /* height: 100%; */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr;
  background-color: #fdf0e9;
  padding: 4rem 0 0 0;
  .container {
    margin: auto 18%;
  }
  /* padding: 0 4rem; */
  /* border: 1px solid #f3d1bf; */
  /* padding: auto %; */
  .border {
    margin: auto 15%;
    margin-top: 4rem;
    grid-column: span 2 / span 2;
    grid-row-start: 2;
    border-top: 2px solid #f3d1bf;
  }

  .work-left {
    h5 {
      color: #ef6d58;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 2px;
      line-height: 32px;
      padding-bottom: 1rem;
    }
    h3 {
      font-weight: 800;
      font-size: 40px;
      line-height: 48px;
      padding-bottom: 2rem;
    }
    p {
      color: #391400a3;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      padding-bottom: 2rem;
    }
    span {
      color: #391400;
      font-weight: 400;
      line-height: 32px;
      text-transform: capitalize;
    }
  }
  .work-right {
    align-items: center;
    h1 {
      padding: 1rem 0;
      font-weight: 800;
      font-size: 72px;
      line-height: 80px;
      letter-spacing: -2px;
      color: #391400;
    }
    h4 {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      color: #391400;
    }
  }
  hr {
    margin: auto 14%;
    color: red;
  }
}

.grid-col-two {
  grid-template-columns: 0.5fr 2fr;
}

.video-section {
  /* gap: 0; */
  background-color: #fdf0e9;
  grid-template-columns: 1fr 1fr;

  .video-left,
  .video-right {
    margin: auto 18%;
    padding-bottom: 6rem;
  }
  .video-right {
    h3 {
      color: #391400;
      font-weight: 800;
      font-size: 40px;
      line-height: 48px;
      padding: 1rem 0;
    }
    p {
      color: #391400a3;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
    }
  }
}

.portfolio-content {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 4rem 0;
  h2 {
    color: white;
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    padding: 1rem 0;
  }
}

.portfolio-nav {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  li {
    list-style: none;
    /* text-decoration: none; */
  }

  a {
    text-decoration: none;
    text-transform: capitalize;

    font-weight: 400;
    line-height: 32px;
    font-size: 16px;
    color: #ffffffa3;
  }
}
.portfolio-work {
  grid-template-columns: 0.5fr 1fr;
  gap: 2rem;
  img {
    z-index: -1;
  }
  .first,
  .second {
    position: relative;
    margin-bottom: 1rem;
    h3 {
      position: absolute;
      top: 80%;
      left: 10%;
    }
    button {
      position: absolute;
      top: 65%;
      left: 10%;
      border-radius: 19px;
      img {
        height: 38px;
        width: 68px;
      }
    }
    h3 {
      font-size: 40px;
      font-weight: 800;
      line-height: 48px;
      color: white;
    }
  }
  .first > img {
    height: 416px;
    width: 470px;
  }
}
.btn-container {
  margin: 4rem 0;
  /* background-color: red; */
  height: 30px;
  display: flex;
  justify-content: center;
  .explore {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 14px;
    line-height: 100%;
    height: 48px;
    padding: 8px;
    width: 129px;
    border-radius: 6px;
    border: 1px solid #ffffff4b;
    color: white;
    background-color: transparent;
  }
  /* align-items: center; */
}

.started-section {
  border-radius: 6px;
  margin: 8rem auto;
  margin-bottom: 2rem;
  background-color: #fdf0e9;
  height: 336px;
  width: 1220px;
  position: relative;

  grid-template-columns: repeat(3, 1fr);

  justify-content: center;
  align-items: center;
  /* position: relative; */

  gap: 4rem;
  .first {
    position: relative;
    top: -25%;
    left: 49px;
    .first-text {
      position: relative;
      padding-top: 2rem;
      top: 10%;
      left: 10%;
      h5 {
        margin-bottom: 1rem;
      }
      h4 {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 2rem;
      }
      button {
        background-color: #ef6d58;
        color: white;
        width: 154px;
        height: 48px;
        border-radius: 6px;
        border: none;
      }
    }
  }

  .third {
    position: relative;
    top: -20%;
    margin-bottom: 2rem;
  }
  /* padding-bottom: 4rem; */
}

.team-section {
  margin: 7rem 0;
  h2 {
    text-transform: capitalize;
    color: white;
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    margin: 3rem 0;
  }

  .team-text {
    width: 40rem;
  }
  .team-image {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    /* margin-bottom: 8rem; */
    .team-border {
      /* flex-direction:unset; */
      height: 272px;
      display: flex;
      justify-content: center;
      align-items: last baseline;
      margin-bottom: 1rem;
      border-radius: 6px;
      border: 1px solid #3a3c56;
      img {
        z-index: -1;
        height: 247px;
        /* display: block; */
        /* width: 250px; */
      }
    }
    h4 {
      text-transform: capitalize;
      color: white;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 0.5rem;
    }
    p {
      color: #ffffffa3;
      text-transform: capitalize;
    }
  }
}

.team-container {
  margin-bottom: 8rem;
}

.price-section {
  background-color: #fdf0e9;

  .price-container {
    max-width: 30rem;
  }
}
.price-text {
  padding: 4rem 0;
  h2 {
    padding: 1rem 0;
    font-weight: 800;
    font-size: 56px;
    letter-spacing: -1px;
    line-height: 64px;
  }
}

.price-offer {
  grid-template-columns: repeat(3, 1fr);
}
.price {
  border: 1px solid #f3d1bf;
  height: 512px;
  width: 391px;
  border-radius: 6px;
  padding: 2rem;
  margin-bottom: 8rem;

  h3 {
    color: #391400;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 1rem;
  }
  p {
    color: #391400a3;
    line-height: 32px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 3rem;
  }
  pre {
    margin: 1rem 0;
  }

  button {
    background-color: white;
    text-transform: uppercase;
    width: 154px;
    height: 48px;
    border-radius: 6px;
    border: 0;
    font-weight: 900;
    font-size: 14px;
    margin-top: 3rem;
    /* outline: none; */
  }
  .popular {
    height: 38px;
    width: 92px;
    background-color: #ef6d58;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 19px;
    color: white;
    margin-bottom: 5px;
  }
}
#popular {
  position: relative;
  top: -48px;
  height: 560px;
  background-color: white;
}

.faq-section {
  background-color: #fdf0e9;
}

.faq-container {
  grid-template-columns: repeat(2, 1fr);

  .faq-text {
    max-width: 30rem;
  }

  h5 {
    font-size: 16px;
    font-weight: 400;
  }
  h3 {
    font-weight: 800;
    font-size: 40px;
    color: #391400;
    line-height: 48px;
    margin-bottom: 1.4rem;
  }
  p {
    color: #391400a3;
    line-height: 32px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 1.5rem;
  }
  a {
    text-transform: capitalize;
    color: #391400;
    font-size: 16px;
    line-height: 32px;
    text-decoration: none;
    margin-top: 2rem;
  }
}

.faq-question {
  grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr;
  /* justify-content: ; */
  gap: 0;
  /* border: 1px solid #f3d1bf; */
  /* align-items:self-end; */
  /* padding: 1rem; */
  .first-q {
    padding: 1rem;
    /* padding-bottom: 2rem; */
    background-color: white;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    h4 {
      padding-right: 15rem;
      /* justify-content: space-between; */
      display: inline-block;
      margin-bottom: 2rem;
    }
    p {
      font-size: 16px;
      font-weight: 400;
    }
  }
  .third-q{
height: 1rem;
  }
  .second-q,
  .third-q,
  .fourth-q {
    padding: 2rem;
    div {
      display: flex;
      /* margin-bottom: 2rem; */
      justify-content: space-between;
    }
    /* margin-bottom: 2rem; */
    height: 100px;
    /* height: 113px; */
    h4 {
      /* padding-right: 15rem; */
      /* justify-content: space-between; */
      /* display: inline-block; */
      /* margin-bottom: 2rem; */
    }
    p {
      font-size: 16px;
      font-weight: 400;
    }
    border-bottom: 1px solid #f3d1bf;
  }
}

.faq-border {
  border: 1px solid #f3d1bf;
}

.contact-section{
  img{
    position: absolute;
z-index: -1;
    width: 100%;
  }
}
.contact-form{
  padding: 4rem 3rem;
  position: relative;
  top: 120px;
  max-width: 30rem;
  background-color: white;
  margin-left: 6rem;
  height: 464px;
  border-radius: 6px;
  /* left: 10px; */

  h4{
    color: #391400;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }
  input,textarea{
    width: 100%;
    margin: 0.5rem 0;
    padding: 1rem;
    border: 1px solid #F3D1BF;
    border-radius: 6px;
    height: 48px;
    width: 374px;
  }
  textarea{
    height: 5rem;
  }
  button{
    background-color: #ef6d58;
    text-transform: uppercase;
    border-radius: 6px;
    color: white;
    font-weight: 900;
    font-size: 14px;
    height: 44px;
    width: 159px;
    /* text-align: center; */
    padding: 10px;
    border: 0;
    margin-top: 1rem;
  }
  .contact-button{
    display: flex;
    justify-content: flex-end;
    align-items: center ;
  }
}

.footer{
  height: auto;
  min-height: 15rem;
  margin-top: 15rem;
  background-color:#fdf0e9;
}
.footer-link{
  grid-template-columns: repeat(4,1fr);
  padding: 6rem 2rem;
  gap: 8rem;

  h4{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }
  p{
    text-transform: capitalize;
    margin: 1rem 0;
  }
}

.footer-border{
  border-top: 1px solid #F3D1BF;
  height: 1rem;
  padding: 1rem;
}
.footer-last{
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  div{
    color: #391400A3;
  }
  span{
    margin: 1rem;
  }
}